:root {
  --white: #FFF;
  --black: #000;
  --gray: #4E4E4E;
  --new: #e07a64;
  --grayish-blue: #405d78;
  box-sizing: border-box;
  color: var(--white);
  scroll-behavior: smooth;
}

* {
  font-family: "Roboto", sans-serif;
  box-sizing: inherit;
}

body {
  margin: 0;
  padding: 0;
}

/* .container {
  width: 960px;
  margin: 0 auto;
} */
.container {
  width: 96%;
  margin: 0 auto;
}

nav,
footer {
  background-color: var(--gray);
  color: var(--white);
}

/* .side-to-side { */
.navbar-and-footer { 
  height: 50px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.company-name {
  font-size: 20px;
  font-weight: bold;
  margin: 10px 0;
}

/* .navbar-links,
.social-links {
  display: flex;
} */
.navbar-links {
  display: none;
  flex-direction: column;
  justify-content: space-between;
  width: 100vw;
  padding: 0;
}

.collapse {
  display: flex;  
  margin-top: 0;
  background-color: var(--gray);
}

.navbar-links li {
  list-style: none;
}

.navbar-links a, .social-links a {
  text-decoration: none;
  color: var(--white);
  padding: 10px;
  transition: all 0.25s linear;
}

.navbar-links a[disabled] {
  cursor: not-allowed;
  color: rgba(255, 255, 255, .3);
}

.navbar-toggler {
  position: absolute;
  right: 15px;
  display: block;
  width: 50px;
  height: 50px;
  background-color: var(--gray);
  border: none;
  outline: none;
}

.navbar-toggler div {
  width: 100%;
  height: 5px;
  background-color: var(--white);
  border-radius: 10px;
  margin: 8px 0;
}

.outer-background {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  height: calc(100vh - 50px);
  background: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), url("assets/img/Background.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.inner-background {
  width: 100%;
}

.promo {
  font-size: 36px;
  font-weight: bold;
  /* margin: 30px 0; */
}

.incentive {
  font-size: 18px;
  color: var(--white);
  margin: 30px 0;
}

.inner-background a {
  display: block;
  width: 160px;
  height: 40px;
  text-align: center;
  font-weight: bold;
  padding: 8px;
  text-decoration: none;
  color: var(--white);
  border: 3px solid var(--white);
  transition: all .25s linear;
}

.company-staff-intro,
.services-intro {
  margin-top: 0;
  font-size: 36px;
  font-weight: bold;
  text-align: center;
  margin-bottom: 30px;
}

.company-staff-intro {
  color: var(--grayish-blue);
}

.specialists--container {
  padding: 50px 0;
}

.specialists--container h4,
p {
  color: var(--black);
}

.flex {
  display: flex;
  flex-direction: column;
}

.portfolio-description {
  margin: 20px;
}

.employee-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.employee-container:nth-of-type(even) {
  flex-direction: row-reverse;
}

.employee-container:nth-of-type(even) p,
.employee-container:nth-of-type(even) h4 {
  text-align: right;
}

.employee-container:nth-of-type(odd) p,
.employee-container:nth-of-type(odd) h4 {
  text-align: left;
}

.employee-image {
  background-position: center;
  background-size: cover;
  height: 200px;
  aspect-ratio: 1;
  border-radius: 50%;
}

.img-first {
  background-image: url("https://randomuser.me/api/portraits/women/43.jpg");
}

.img-second {
  background-image: url("https://randomuser.me/api/portraits/men/72.jpg");
}

.specialists-container, .services-container{
  padding: 50px 0;
}

.services-container {
  background-color: var(--grayish-blue);
  padding: 50px 0;
}

.services-intro {
  color: var(--white);
  margin-bottom: 50px;
}

.grid {
  display: grid;
  grid-template-columns: 1fr;
  justify-content: center;
  gap: 60px;
}

.service-tile {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--white);
  color: var(--black);
  height: 200px;
  transition: transform 0.5s linear;
}

.new-circle {
  position: relative;
}

.new-circle span {
  position: absolute;
  left: -109.5px;
  top: -86px;
  background-color: var(--new);
  width: 20px;
  height: 20px;
  border-radius: 50%;
}

.service-tile.new-item {
  flex-direction: column;
}

.service-heading {
  text-align: center;
  font-size: 24px;
  font-weight: bold;
}

.info-small {
  font-size: 16px;
}

.fa-brands {
  font-size: 30px;
}

@media only screen and (min-width: 768px) {
  .container {
    width: 94%;
  }
  .navbar-and-footer {
    flex-direction: row;
    justify-content: space-between;
  }
  .navbar-links {
    display: flex;
    flex-direction: row;
    width: 280px;
  }
  .navbar-toggler {
    display: none;
  }
  .company-staff-intro, .services-intro {
    text-align: left;
  }
  .grid {
    grid-template-columns: repeat(2, 200px);
  }
}

@media only screen and (min-width: 992px) {
  .container {
    width: 960px;
  }
  .navbar-links a:not([disabled]):hover, .inner-background .button:hover {
    background-color: var(--white);
    color: var(--black);
  }
  .grid {
    grid-template-columns: repeat(3, 200px);
  }
  .service-tile:hover {
    transform: scale(1.05);
  }  
  .fa-instagram:hover {
    color: #feda75;
  }
  .fa-facebook-square:hover {
    color: #3b5998;
  }
  .fa-youtube:hover {
    color: #c6302b;
  }
  .fa-twitter:hover {
    color: #00acee;
  }
}